<%- include("../partials/header") %>

<div class="container">
  <form action="/events" method="POST" class="my-4">
    <div class="form-group">
      <label for="eventName">Name</label>
      <input type="text" class="form-control" id="eventName" name="event[name]">
    </div>
    <div class="form-group">
      <label for="eventImage">Image</label>
      <input type="text" class="form-control" id="eventImage" name="event[image]">
    </div>
    <div class="form-group">
      <label for="eventDescription">Description</label>
      <input type="text" class="form-control" id="eventDescription" name="event[description]">
    </div>
    <div class="form-group">
      <label for="eventLocation">Location</label>
      <input type="text" class="form-control" id="eventLocation" name="event[location]">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>

<%- include("../partials/footer") %>
