<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="google-signin-client_id" content=gapi.auth2.init()>


   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.css">
   <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.css">

   <link rel="stylesheet" href="/app.css">

   <script src="https://kit.fontawesome.com/92992f5a3f.js" crossorigin="anonymous"></script>

   <title>Culture Project!</title>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-fixed-top">
      <a class="navbar-brand font-weight-bold" href="#"><i class="fas fa-calendar-alt mr-3" id="logo"></i>Culture
         Project!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapsse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item btn-lg font-weight-bold">
               <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item btn-lg font-weight-bold">
               <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item btn-lg font-weight-bold">
               <a class="nav-link" href="/contact">Contact</a>
            </li>
         </ul>
      </div>
   </nav>
