<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-signin-client_id" content=gapi.auth2.init()>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/92992f5a3f.js" crossorigin="anonymous"></script>

  <!-- Full calendar -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.css">
  <link rel="stylesheet" href="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.css">

  <!-- Flatpickr -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/stylesheets/app.css">

  <title>Explore Madison!</title>
  <link rel="icon" type="image/gif/png/jpg" href="../images/TitleIcon.jpg">
</head>

<body>
  <%- include("navbar") %>
