<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/events"
      ><i class="far fa-compass mr-3" id="logo"></i>Explore Madison!</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <% if (currentUser) { %>
        <li class="nav-item dropdown ml-3">
          <img
            src="https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            class="navbar-image"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          />
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <p>Welcome, <%= currentUser.username %></p>
            <hr />
            <a class="nav-link" href="/logout">Logout</a>
          </div>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
