<% include partials/header %>

<h1>login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <!-- Could also do <button>Submit!</button> -->
    <input type="Submit" value="Login!">
</form>

<% include partials/footer %>