html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #000;
}

#logo {
  font-size: 40px;
}

#landing-header {
  margin-top: 40vh;
  position: relative;
  text-align: center;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.5);
  padding: 10px;
}

#landing-header h1 a.entryLink {
  color: yellow;
  font-size: 50px;
  font-weight: bold;
}

/* background slide show */
.slideshow {
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li {
  animation: imageAnimation 50s linear 2.5s infinite;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  width: 100%;
  z-index: 0;
}

.slideshow li:nth-child(1) {
  background-image: url(../images/MadisonNight.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(../images/BascomHall-UWMadison.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(../images/MadisonSkyline.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(../images/Terrace_night.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(../images/CampRandall.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0%, 40% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(1);
  }
  10% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.1);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  30% {
    opacity: 0;
    transform: scale(1.2);
  }
}
