<%- include("../partials/header") %>

<div id="landing-header">
  <h1><a class="entryLink" href="/events">Welcome to Madison!</a></h1>
  <a class="entryLink" href="/events">Explore now!</a>
</div>

<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<%- include("../partials/footer") %>
